/*CLEANED*/

/* General Styling */

body {
  font-family: 'Roboto', sans-serif;
  padding 10px;
  background-color: white;
}

h1 {
  font-size: 10vw;
  text-align: center;
  color: black;
  margin-top: 35px;
  margin-bottom: 0;
}

/* Social & Trend */

.columns {
  margin: 10px;
  padding: 20px;
}

.socialmediasharebutton {
  display: inline-block;
  float: left
  padding-top: 10px;
}

.TrendButtons {
  padding: 10px;
}


/* Photo gallery */

div.gallery{
  width: 100%;
  background-color: red;
}

div.galleryPhoto:hover {
    border: 3px solid #777;
    padding: 1px;
}

div.galleryPhoto {
  padding: 3px;
  border: 1px solid #ccc;
  float: left;
  width: 30%;
  margin: 1%;
}

div.galleryPhoto img {
  width: 100%;
  height: auto;
  float:left;
  padding-bottom: 30px;
}

div.photoFooter {
  padding: 15px;
  text-align: center;
  background-color: #b71c1c;
}

.photo-footer-name {
  margin-bottom: 0;
}

/* Profile */

.profilePhoto img {
  padding: 3px;
  border: 1px solid #ccc;
  width: 100%;
  margin: 2%;
}
.story {
  width: 80%;
  margin: 2%;
}

/* Link Styling */

a:link {
  color: white;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

.tooth-icon {
	content: url(images/tooth-icon.svg);
}

.signup {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

/* HBAR */

.HBar{
  padding-right: 4%
}

.HBar .texts text{
  dominant-baseline: central;
  pointer-events: none;
  opacity: 0.75
}

.HBar .axis {
  stroke-width: 1px
}

/* HBAR Animations */

.barTransition-enter {
  opacity: 0.01;
  fill: white;
  transition: fill 1s ease-in;
}

.barTransition-enter.barTransition-enter-active {
  opacity: 1;
  fill: black;
}

.barTransition-leave {
  opacity: 1;
  transition: opacity .01s ease-out;
}

.barTransition-leave.barTransition-leave-active {
  opacity: 0.01;
}

.hover.barTransition-leave {
  transition: opacity 0.01s;
}
.hover.barTransition-enter {
  transition: fill 0.01s;
}
